{# templates/product/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Edit {#inserisci nome prodotto#}{% endblock %}

{% block body %}
    <h1>Edit {#inserisci nome prodotto#}</h1>
    {#TODO inserisci contenuto#}
{% endblock %}