{# templates/product/list.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Products List{% endblock %}

{% block body %}
    <h1>Products List</h1>
    {#TODO inserisci contenuto#}
{% endblock %}